<html>

<head>
    <style>
    </style>
</head>

<body>
    <p>Reported content</p>
    <a href="https://api.ootopia.org/posts/{{link}}">Link</a>
    <p>Motivo: {{reason}}</p>
    <h2>Dados do usuário que fez a denuncia</h2>
    <p>Nome: {{username}}</p>
    <p>Nome: {{email}}</p>
    <p>Nome: {{id}}</p>
    <h2>Dados do dono do post</h2>
    <p>Nome: {{denouncedUserName}}</p>
    <p>Nome: {{denouncedEmail}}</p>
    <p>Nome: {{denouncedId}}</p>
    <p><b>All the best,</b></p><br>
    <p><b>OOTOPIA Team</b></p>
</body>

</html>