<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="x_bodyTable"
        style="background: none center center / cover no-repeat rgb(255, 255, 255); border-collapse: collapse; height: 100%; margin: 0px; padding: 0px; width: 100%;">
        <tbody>
            <tr>
                <td align="left" valign="top" id="x_bodyCell"
                    style="height:100%; margin:0; padding:10px; width:100%; border-top:0">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_templateContainer"
                        style="border-collapse:collapse; border:0; max-width:600px!important">
                        <tbody>
                            <tr>
                                <td valign="top" id="x_templateHeader" style="border-top:0; border-bottom:0">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnImageBlock" style="min-width:100%; border-collapse:collapse">
                                        <tbody class="x_mcnImageBlockOuter">
                                            <tr>
                                                <td valign="top" class="x_mcnImageBlockInner" style="padding:9px">
                                                    <table align="left" width="100%" border="0" cellpadding="0"
                                                        cellspacing="0" class="x_mcnImageContentContainer"
                                                        style="min-width:100%; border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td class="x_mcnImageContent" valign="top"
                                                                    style="padding-right:9px; padding-left:9px; padding-top:0; padding-bottom:0; text-align:center">
                                                                    <img data-imagetype="External"
                                                                        src="https://ootopia-files.s3.amazonaws.com/assets/email/market_place_header_us.png"
                                                                        align="center" alt="" width="564"
                                                                        class="x_mcnImage"
                                                                        style="max-width:1116px; padding-bottom:0px; vertical-align:bottom; display:inline!important; border-radius:0%; border:0; height:auto; outline:none; text-decoration:none">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnTextBlock" style="min-width:100%; border-collapse:collapse">
                                        <tbody class="x_mcnTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="x_mcnTextBlockInner" style="padding-top:9px">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                        width="100%" class="x_mcnTextContentContainer"
                                                        style="max-width:100%; min-width:100%; border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="x_mcnTextContent"
                                                                    style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px; word-break:break-word; color:#202020; font-family:Helvetica; font-size:16px; line-height:150%; text-align:left">
                                                                    <table cellpadding="0" cellspacing="0"
                                                                        style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="">
                                                                                    <span style="font-size:24px">
                                                                                        <span style="font-family:verdana,geneva,sans-serif">
                                                                                            <span style="color:#A9A9A9">
                                                                                                <strong>
                                                                                                {{#if seller}}
                                                                                                    PARABÉNS PELA VENDA
                                                                                                {{else}}
                                                                                                    OBRIGADO POR SUA COMPRA
                                                                                                {{/if}}
                                                                                                </strong>
                                                                                            </span>
                                                                                        </span>
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnTextBlock" style="min-width:100%; border-collapse:collapse">
                                        <tbody class="x_mcnTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="x_mcnTextBlockInner" style="padding-top:9px">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                        width="100%" class="x_mcnTextContentContainer"
                                                        style="max-width:100%; min-width:100%; border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="x_mcnTextContent"
                                                                    style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px; word-break:break-word; color:#202020; font-family:Helvetica; font-size:16px; line-height:150%; text-align:left">
                                                                    <span style="font-size:14px"><span
                                                                            style="font-family:verdana,geneva,sans-serif"><span
                                                                                style="color:#000000"> 
                                                                            {{#if seller}}
                                                                                Envie um e-mail para ({{user.email}})
                                                                            {{else}}
                                                                                O fornecedor entrará em contato com você em breve por e-mail
                                                                            {{/if}}
                                                                        </span></span></span> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnTextBlock" style="min-width:100%; border-collapse:collapse">
                                        <tbody class="x_mcnTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="x_mcnTextBlockInner" style="padding-top:9px">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                        width="100%" class="x_mcnTextContentContainer"
                                                        style="max-width:100%; min-width:100%; border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="x_mcnTextContent"
                                                                    style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px; word-break:break-word; color:#202020; font-family:Helvetica; font-size:16px; line-height:150%; text-align:left">
                                                                    <span
                                                                        style="font-family:verdana,geneva,sans-serif"><span
                                                                            style="font-size:14px">  
                                                                    para providenciar a entrega de sua compra.
                                                                    </span></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnDividerBlock"
                                        style="min-width:100%; border-collapse:collapse; table-layout:fixed!important">
                                        <tbody class="x_mcnDividerBlockOuter">
                                            <tr>
                                                <td class="x_mcnDividerBlockInner" style="min-width:100%; padding:18px">
                                                    <table class="x_mcnDividerContent" border="0" cellpadding="0"
                                                        cellspacing="0" width="100%"
                                                        style="min-width:100%; border-top:1px solid rgba(112, 112, 112, 0.2); border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td style=""><span></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnTextBlock" style="min-width:100%; border-collapse:collapse">
                                        <tbody class="x_mcnTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="x_mcnTextBlockInner" style="padding-top:9px">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                        width="100%" class="x_mcnTextContentContainer"
                                                        style="max-width:100%; min-width:100%; border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="x_mcnTextContent"
                                                                    style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px; word-break:break-word; color:#202020; font-family:Helvetica; font-size:16px; line-height:150%; text-align:left">
                                                                    <strong><span
                                                                            style="font-family:verdana,geneva,sans-serif"><span
                                                                                style="font-size:14px"> 
                                                                            {{#if seller}}
                                                                                Comprador
                                                                            {{else}}
                                                                                Fornecedor
                                                                            {{/if}}</span></span></strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnCaptionBlock" style="border-collapse:collapse">
                                        <tbody class="x_mcnCaptionBlockOuter">
                                            <tr>
                                                <td class="x_mcnCaptionBlockInner" valign="top" style="padding:9px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        class="x_mcnCaptionRightContentOuter" width="100%"
                                                        style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="x_mcnCaptionRightContentInner"
                                                                    style="padding:0 9px">
                                                                    <table align="left" border="0" cellpadding="0"
                                                                        cellspacing="0"
                                                                        class="x_mcnCaptionRightImageContentContainer"
                                                                        width="132" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="x_mcnCaptionRightImageContent"
                                                                                    align="left" valign="top" style="">
                                                                                    <img
                                                                                        src="{{user.photoUrl}}"
                                                                                        alt="" width="50" height="50"
                                                                                        style="max-width:50px; min-height: 50px; max-height:50px; border-radius:50%; border:0; height:auto; outline:none; text-decoration:none; vertical-align:bottom">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table class="x_mcnCaptionRightTextContentContainer"
                                                                        align="right" border="0" cellpadding="0"
                                                                        cellspacing="0" width="396"
                                                                        style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    class="x_mcnTextContent"
                                                                                    style="font-family:Verdana,Geneva,sans-serif; word-break:break-word; color:#202020; font-size:16px; line-height:150%; text-align:left">
                                                                                    <strong>{{user.fullname}}</strong>
                                                                                    <br aria-hidden="true">
                                                                                    
                                                                                    <span style="font-size:14px">

                                                                                        {{#ifCond user.city '||' user.state}}
                                                                                            {{user.city}}, {{user.state}}
                                                                                            <br aria-hidden="true">
                                                                                        {{/ifCond}}

                                                                                            <br aria-hidden="true">

                                                                                        {{#ifCond user.email '||' user.phone}}
                                                                                            <strong>Contato</strong>
                                                                                            <br aria-hidden="true">
                                                                                        {{/ifCond}}
                                                                                            
                                                                                        {{#if user.phone}}
                                                                                        Telefone Celular: <a 
                                                                                            href="tel:{{user.dialCode}} {{user.phone}}"
                                                                                            target="_blank"
                                                                                            style="color:#007C89; font-weight:normal; text-decoration:underline"
                                                                                            data-linkindex="0">{{user.dialCode}} {{user.phone}}</a>
                                                                                            <br aria-hidden="true">
                                                                                        {{/if}}
                                                                                            
                                                                                        {{#if user.email}}
                                                                                            E-mail: <a 
                                                                                            href="mailto:{{user.email}}"
                                                                                            target="_blank"
                                                                                            style="color:#007C89; font-weight:normal; text-decoration:underline">{{user.email}}</a>
                                                                                        {{/if}}


                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnDividerBlock"
                                        style="min-width:100%; border-collapse:collapse; table-layout:fixed!important">
                                        <tbody class="x_mcnDividerBlockOuter">
                                            <tr>
                                                <td class="x_mcnDividerBlockInner" style="min-width:100%; padding:18px">
                                                    <table class="x_mcnDividerContent" border="0" cellpadding="0"
                                                        cellspacing="0" width="100%"
                                                        style="min-width:100%; border-top:1px solid rgba(112, 112, 112, 0.2); border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td style=""><span></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnTextBlock" style="min-width:100%; border-collapse:collapse">
                                        <tbody class="x_mcnTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="x_mcnTextBlockInner" style="padding-top:9px">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                        width="100%" class="x_mcnTextContentContainer"
                                                        style="max-width:100%; min-width:100%; border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="x_mcnTextContent"
                                                                    style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px; word-break:break-word; color:#202020; font-family:Helvetica; font-size:16px; line-height:150%; text-align:left">
                                                                    <strong><span style="font-size:14px"><span
                                                                                style="font-family:verdana,geneva,sans-serif">Artigo Comprado</span></span></strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnCaptionBlock" style="border-collapse:collapse">
                                        <tbody class="x_mcnCaptionBlockOuter">
                                            <tr>
                                                <td class="x_mcnCaptionBlockInner" valign="top" style="padding:9px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        class="x_mcnCaptionRightContentOuter" width="100%"
                                                        style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="x_mcnCaptionRightContentInner"
                                                                    style="padding:0 9px">
                                                                    <table align="left" border="0" cellpadding="0"
                                                                    cellspacing="0"
                                                                    class="x_mcnCaptionRightImageContentContainer"
                                                                    width="132" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="x_mcnCaptionRightImageContent"
                                                                                    align="left" valign="top" style="">
                                                                                    <img 
                                                                                        src="{{marketPlace.imageUrl}}"
                                                                                        alt="" width="76"
                                                                                        style="max-width:76px; border-radius:15%; border:0; height:auto; outline:none; text-decoration:none; vertical-align:bottom">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table class="x_mcnCaptionRightTextContentContainer"
                                                                    align="right" border="0" cellpadding="0"
                                                                    cellspacing="0" width="396"
                                                                    style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    class="x_mcnTextContent"
                                                                                    style="word-break:break-word; color:#202020; font-family:Helvetica; font-size:16px; line-height:150%; text-align:left">
                                                                                    <span
                                                                                        style="font-family:verdana,geneva,sans-serif">

                                                                                        <strong>
                                                                                            {{marketPlace.title}}
                                                                                            <br aria-hidden="true">

                                                                                            <br aria-hidden="true">
                                                                                            <img style="vertical-align: bottom;" src="https://ootopia-files.s3.amazonaws.com/assets/email/ozz_coin_grey.png" width="34" height="24">
                                                                                            {{marketPlace.price}}
                                                                                        </strong>

                                                                                        <br aria-hidden="true">
                                                                                        <br aria-hidden="true">
                                                                                        {{marketPlace.description}}
                                                                                        <br aria-hidden="true">

                                                                                        {{#ifCond marketPlace.message '&&' seller}}                                                                                        
                                                                                            <br aria-hidden="true">
                                                                                            <strong>Mensagem do Comprador</strong>
                                                                                            <br aria-hidden="true">
                                                                                            <br aria-hidden="true">
                                                                                            {{marketPlace.message}}
                                                                                        {{/ifCond}}
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnBoxedTextBlock" style="min-width:100%; border-collapse:collapse">
                                        <tbody class="x_mcnBoxedTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="x_mcnBoxedTextBlockInner" style="">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                        width="100%" class="x_mcnBoxedTextContentContainer"
                                                        style="min-width:100%; border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px">
                                                                    <table border="0" cellspacing="0"
                                                                        class="x_mcnTextContentContainer" width="100%"
                                                                        style="min-width:100%!important; background-color:rgba(112, 112, 112, 0.05); border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    class="x_mcnTextContent"
                                                                                    style="padding:18px; color:#2e0909; font-family:Helvetica; font-size:14px; font-weight:normal; text-align:center; word-break:break-word; line-height:150%">
                                                                                    <div style="text-align:left">
                                                                                            <span style="font-family:verdana,geneva,sans-serif"><span
                                                                                                style="font-size:14px">Tudo de bom,
                                                                                                <br aria-hidden="true">
                                                                                                <br aria-hidden="true">
                                                                                                <strong>Luize Sehn</strong>
                                                                                            </span><br
                                                                                                aria-hidden="true"><span
                                                                                                style="font-size:12px">OOTOPIA
                                                                                                Ethical Marketplace
                                                                                                Steward<br
                                                                                                    aria-hidden="true">
                                                                                                    <a
                                                                                                    href="mailto:luize@ootopia.org"
                                                                                                    target="_blank"
                                                                                                    rel="noopener noreferrer"
                                                                                                    style="color:#007C89; font-weight:normal; text-decoration:underline"
                                                                                                    >luize@ootopia.org</a>
                                                                                                    <br aria-hidden="true">
                                                                                                    <a
                                                                                                    href="tel:+55 21 97261-3293"
                                                                                                    target="_blank"
                                                                                                    rel="noopener noreferrer"
                                                                                                    style="color:#007C89; font-weight:normal; text-decoration:underline"
                                                                                                    >+55 21 97261-3293</a>
                                                                                                    
                                                                                                    <br aria-hidden="true">
                                                                                                    <br aria-hidden="true">
                                                                                                    <a
                                                                                                    href="mailto:support@ootopia.org"
                                                                                                    target="_blank"
                                                                                                    rel="noopener noreferrer"
                                                                                                    data-auth="NotApplicable"
                                                                                                    style="color:#007C89; font-weight:normal; text-decoration:underline"
                                                                                                    data-linkindex="1">Você tem alguma pergunta?</a>
                                                                                                    <br aria-hidden="true">Entre em contato! Terei todo o gosto em ajudá-lo.</span></span><br
                                                                                            aria-hidden="true">&nbsp;
                                                                                            <table class="x_mcnDividerContent" border="0" cellpadding="0"
                                                                                            cellspacing="0" width="100%"
                                                                                            style="min-width:100%; border-top:1px solid rgba(112, 112, 112, 0.2); border-collapse:collapse; margin-bottom: 10px;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><span></span></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                            </table>
                                                                                        <strong>
                                                                                            <span style="font-size:14px">
                                                                                                <span style="font-family:verdana,geneva,sans-serif;padding-top: 10px;">
                                                                                                EM BREVE
                                                                                                </span>
                                                                                            </span>
                                                                                        </strong>
                                                                                        <br aria-hidden="true">
                                                                                        <span style="font-family:verdana,geneva,sans-serif">
                                                                                            <span style="font-size:12px">Na próxima atualização do aplicativo, a criação de ofertas no Mercado Ético estará à disposição de todos.<br> Até lá, que tal nos dizer o que você gostaria de oferecer ou comprar?<br>Suas sugestões são muito bem vindas!
                                                                                            </span>
                                                                                        </span>
                                                                                        <br aria-hidden="true">&nbsp;
                                                                                    </div><a
                                                                                        href="https://docs.google.com/forms/d/e/1FAIpQLScGB6JQf4-YQn7aZQ5fmJTYxhM1W3qXuW87ycYrlayiesN92A/viewform"
                                                                                        target="_blank"
                                                                                        rel="noopener noreferrer"
                                                                                        data-auth="NotApplicable"
                                                                                        style="padding-left:24px; width:max-content; text-decoration:none; border:1px solid #003694; border-radius:45px; display:flex; align-items:center; font:normal normal bold 12px sans-serif; letter-spacing:0px; color:#003694; opacity:1; margin:16px 0 16px 0; padding:10px 24px 10px 24px; font-weight:normal"
                                                                                        data-linkindex="2">Dê sua sugestão</a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnImageBlock" style="min-width:100%; border-collapse:collapse">
                                        <tbody class="x_mcnImageBlockOuter">
                                            <tr>
                                                <td valign="top" class="x_mcnImageBlockInner" style="padding:9px">
                                                    <table align="left" width="100%" border="0" cellpadding="0"
                                                        cellspacing="0" class="x_mcnImageContentContainer"
                                                        style="min-width:100%; border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td class="x_mcnImageContent" valign="top"
                                                                    style="padding-right:9px; padding-left:9px; padding-top:0; padding-bottom:0; text-align:center">
                                                                    <img 
                                                                        src="https://ootopia-files.s3.amazonaws.com/assets/email/market_place_footer_us.png"
                                                                        align="center" alt="" width="564"
                                                                        class="x_mcnImage"
                                                                        style="max-width:972px; padding-bottom:0; display:inline!important; vertical-align:bottom; border:0; height:auto; outline:none; text-decoration:none">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        class="x_mcnImageGroupBlock" style="border-collapse:collapse">
                                        <tbody class="x_mcnImageGroupBlockOuter">
                                            <tr>
                                                <td valign="top" class="x_mcnImageGroupBlockInner" style="padding:9px">
                                                    <table align="right" width="564" border="0" cellpadding="0"
                                                        cellspacing="0" class="x_mcnImageGroupContentContainer"
                                                        style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table align="right" width="564" border="0" cellpadding="0"
                                                                    cellspacing="0" class="x_mcnImageGroupContentContainer"
                                                                    style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="
                                                                                    text-decoration: unset;
                                                                                    padding: 0px 8px 0px 0px;
                                                                                    border: 0;"
                                                                                >
                                                                                <center>

                                                                                    <a 
                                                                                    style="cursor: pointer;
                                                                                    text-decoration: unset;" 
                                                                                    href="https://www.ootopia.org/" 
                                                                                    target="_blank">
                                                                                        <img src="https://ootopia-files.s3.amazonaws.com/assets/email/ootopia_link.png"  width="131" height="21">
                                                                                    </a>

                                                                                    <a 
                                                                                    style="cursor: pointer;
                                                                                    text-decoration: unset;" 
                                                                                    href="mailto: support@ootopia.org"
                                                                                    target="_blank">
                                                                                        <img src="https://ootopia-files.s3.amazonaws.com/assets/email/ootopia_email.png"  width="164" height="21">
                                                                                    </a>

                                                                                    <a 
                                                                                    style="cursor: pointer;
                                                                                    text-decoration: unset;" 
                                                                                    href="https://www.facebook.com/ootopia.br"
                                                                                    target="_blank"
                                                                                    >
                                                                                        <img src="https://ootopia-files.s3.amazonaws.com/assets/email/facebook_icon.png"  width="9" height="16">
                                                                                    </a>

                                                                                    <a 
                                                                                    style="cursor: pointer;
                                                                                    text-decoration: unset;" 
                                                                                    href="https://www.instagram.com/ootopia.br/"
                                                                                    target="_blank"
                                                                                    >
                                                                                        <img src="https://ootopia-files.s3.amazonaws.com/assets/email/instagram_icon.png"  width="16" height="16">
                                                                                    </a>

                                                                                    <a 
                                                                                    style="cursor: pointer;
                                                                                    text-decoration: unset;" 
                                                                                    href="https://www.youtube.com/channel/UCZvZHNM2OK0Tdce2MFsNaPQ/featured"
                                                                                    target="_blank"
                                                                                    >
                                                                                        <img src="https://ootopia-files.s3.amazonaws.com/assets/email/youtube_icon.png"  width="18" height="16">
                                                                                    </a>
                                                                                </center>
                                                                                </td>
                                                            
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" id="x_templateBody" style="border-top:0; border-bottom:0"></td>
                            </tr>
                            <tr>
                                <td valign="top" id="x_templateFooter" style="border-top:0; border-bottom:0"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</center>