<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOTOPIA</title>
</head>
<body style="width: 557px;">

    <img src="https://ootopia-files.s3.amazonaws.com/assets/email/market_place_header_us.png" width="557" height="271">

    <div style="
            border: 0;
            border-bottom: 1px solid rgba(112, 112, 112, 0.2);
            display: flex;
            display: -moz-box;
            display: -webkit-box;
            flex-direction: column;
            -moz-box-flex: 1;
            -webkit-box-flex: 1; 
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            padding: 0 0 16px 0;
            font: inherit;
            vertical-align: baseline;
            -webkit-font-smoothing: revert;
            margin: 16px 26px;"
        >
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td  style="
                        display: flex;
                        margin: 0px 0px 0px 0px;
                        padding: 0px 0px 8px 0px;
                        border: 0;"
                    >
                        <span style="
                        text-align: left;
                        font: normal normal bold 24px Roboto;
                        font-family: 'roboto';
                        letter-spacing: 0px;
                        color: #707070;
                        text-transform: uppercase;
                        opacity: 1;
                        src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                        >
                            {{#if seller}}
                                CONGRATULATIONS ON YOUR SALE
                            {{else}}
                                THANK YOU FOR YOUR PURCHASE
                            {{/if}}
                        </span>
                    </td>
                </tr>

                <tr>
                    <td style="
                        display: flex;
                        margin: 0px 0px 0px 0px;
                        padding: 0px 0px 0px 0px;
                        border: 0;"
                    >
                        <span style="
                            font-family: 'roboto';
                            text-align: left;
                            font: normal normal normal 12px Roboto;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                        >
                        {{#if seller}}
                            Send an email to ({{user.email}})
                        {{else}}
                            The vendor will soon contact you by email
                        {{/if}}
                        </span>
                    </td>
                </tr>

                <tr>
                    <td style="
                    display: flex;
                    margin: 0px 0px 0px 0px;
                    padding: 0px 0px 0px 0px;
                    border: 0;"
                    >
                        <span style="
                            font-family: 'roboto';
                            text-align: left;
                            font: normal normal normal 12px Roboto;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                        >
                        {{#if seller}}
                            to arrange delivery of his/her purchase.
                        {{else}}
                            to arrange the delivery of your purchase.
                        {{/if}}
                    </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="
        border: 0;
        border-bottom: 1px solid rgba(112, 112, 112, 0.2);
        display: flex;
        display: -moz-box;
        display: -webkit-box;
        flex-direction: column;
        -moz-box-flex: 1;
        -webkit-box-flex: 1; 
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: 0 0 16px 0;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: revert;
        margin: 16px 26px;"
    >
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        <span style="
                            text-align: left;
                            font-family: 'Roboto';
                            font-size: 14px;
                            font-weight: 500;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                            src: local('Roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                        >
                        {{#if seller}}
                            Purchase
                        {{else}}
                            Vendor
                        {{/if}}
                        </span>

                    </td>                   
                </tr>

                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr style="
                                    display: flex;
                                    flex-direction: row;
                                    margin-top: 10px;"
                                >
                                    <td>
                                        <img style="
                                            border-radius: 50px;
                                            margin-right: 16px;"
                                        src="{{user.photoUrl}}" width="36" height="36">
    
                                    </td>

                                    <td>
                                        <table cellspacing="0" cellpadding="0" >
                                            <tbody>
                                                <tr>
                                                    <td style="
                                                        display: flex;
                                                        margin: 0px 0px 0px 0px;
                                                        padding: 0px 0px 0px 0px;
                                                        border: 0;"
                                                    >
                                                        <span style="
                                                            font-family: 'roboto';
                                                            text-align: left;
                                                            font: normal normal 500 14px Roboto;
                                                            letter-spacing: 0px;
                                                            color: #000000;
                                                            opacity: 1;
                                                            src: local('roboto') url(http://fonts.googleapis.comcss?family=Roboto:400,100,100italic,300,300italic400italic,500,500italic,700,700italic,900italic,900)" >{{user.fullname}}</span>
                                                    </td>
                                                </tr>

                                                {{#ifCond user.city '||' user.state}}
                                                <tr>
                                                    <td style="
                                                        display: flex;
                                                        margin: 0px 0px 0px 0px;
                                                        padding: 0px 0px 0px 0px;
                                                        border: 0;"
                                                    >
                                                        <span style="
                                                        font-family: 'roboto';
                                                        text-align: left;
                                                        font: normal normal normal 12px Roboto;
                                                        letter-spacing: 0px;
                                                        color: #000000;
                                                        opacity: 1;
                                                        src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                                                        >{{user.city}}, {{user.state}}</span>
                                                    </td>
                                                </tr>
                                                {{/ifCond}}

                                                {{#ifCond user.email '||' user.phone}}
                                                <tr>
                                                    <td style="
                                                        display: flex;
                                                        margin: 10px 0px 0px 0px;
                                                        padding: 0px 0px 0px 0px;
                                                        border: 0;"
                                                    >
                                                        <span style="
                                                            font-family: 'roboto';
                                                            text-align: left;
                                                            font: normal normal 500 14px Roboto;
                                                            letter-spacing: 0px;
                                                            color: #000000;
                                                            opacity: 1;
                                                            src: local('roboto') url(http://fonts.googleapis.comcss?family=Roboto:400,100,100italic,300,300italic400italic,500,500italic,700,700italic,900italic,900)">Contact</span>
                                                    </td>
                                                </tr>
                                                {{/ifCond}}

                                                {{#if user.phone}}
                                                <tr>
                                                    <td style="
                                                        display: flex;
                                                        margin: 0px 0px 0px 0px;
                                                        padding: 0px 0px 0px 0px;
                                                        border: 0;"
                                                    >
                                                        <span style="
                                                            font-family: 'roboto';
                                                            text-align: left;
                                                            font: normal normal normal 12px Roboto;
                                                            letter-spacing: 0px;
                                                            color: #000000;
                                                            opacity: 1;
                                                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                                                        >Mobile Phone: {{user.dialCode}} {{user.phone}}</span>
                                                    </td>
                                                </tr>
                                                {{/if}}

                                                {{#if user.email}}
                                                <tr>
                                                    <td style="
                                                        display: flex;
                                                        margin: 0px 0px 0px 0px;
                                                        padding: 0px 0px 0px 0px;
                                                        border: 0;"
                                                    >
                                                        <span style="
                                                            font-family: 'roboto';
                                                            text-align: left;
                                                            font: normal normal normal 12px Roboto;
                                                            letter-spacing: 0px;
                                                            color: #000000;
                                                            opacity: 1;
                                                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                                                        >E-mail: {{user.email}}</span>
                                                    </td>
                                                </tr>
                                                {{/if}}

                                            </tbody>
                                        </table>
    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div style="
        display: flex;
        display: -moz-box;
        display: -webkit-box;
        flex-direction: column;
        -moz-box-flex: 1;
        -webkit-box-flex: 1; 
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: revert;
        margin: 16px 26px;"
    >
        <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="
                    display: flex;
                    margin: 0px 0px 8px 0px;
                    padding: 0px 0px 0px 0px;
                    border: 0;"
                    >
                        <span style="
                            font-family: 'roboto';
                            text-align: left;
                            font: normal normal 500 14px Roboto;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                        >Purchased Item</span>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="
                                    display: flex;
                                    margin: 0px 0px 0px 0px;
                                    padding: 0px 0px 0px 0px;
                                    border: 0;"
                                    >
                                        <img style="
                                            border-radius: 14px;
                                            margin-right: 16px;"
                                        src="{{marketPlace.imageUrl}}" width="91" height="91">

                                    </td>

                                    <td style="
                                        vertical-align: top;"
                                    >
                                        <table cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="
                                                    display: flex;
                                                    margin: 0px 0px 0px 0px;
                                                    padding: 0px 0px 0px 0px;
                                                    border: 0;"
                                                    >
                                                        <span style="
                                                            font-family: 'roboto';
                                                            text-align: left;
                                                            font: normal normal 500 14px Roboto;
                                                            letter-spacing: 0px;
                                                            color: #000000;
                                                            opacity: 1;
                                                            width: 398px;
                                                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                                                        >{{marketPlace.title}}</span>

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="
                                                    display: flex;
                                                    margin: 0px 0px 0px 0px;
                                                    padding: 0px 0px 0px 0px;
                                                    border: 0;"
                                                    >
                                                        <div style="
                                                            margin: 0px 0px 0px 0px;
                                                            padding: 8px 0px 0px 0px;
                                                            border: 0;"
                                                        >
                                                            <img style="vertical-align: bottom;" src="https://ootopia-files.s3.amazonaws.com/assets/email/ozz_coin_grey.png" width="26" height="17">
                                                            <span style="
                                                                font-family: 'roboto';
                                                                text-align: left;
                                                                font: normal normal bold 16px/19px Roboto;
                                                                letter-spacing: 0px;
                                                                color: #707070;
                                                                opacity: 1;
                                                                vertical-align: bottom;"
                                                            >{{marketPlace.price}}</span>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="
                                                    display: flex;
                                                    margin: 0px 0px 0px 0px;
                                                    padding: 0px 0px 0px 0px;
                                                    border: 0;"
                                                    >
                                                        <span style="
                                                            font-family: 'roboto';
                                                            text-align: left;
                                                            font: normal normal normal 12px Roboto;
                                                            letter-spacing: 0px;
                                                            color: #000000;
                                                            opacity: 1;
                                                            width: 398px;
                                                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
                                                            margin-top: 10px;"
                                                        >{{marketPlace.description}}</span>
                                                    </td>
                                                </tr>

                                                {{#ifCond marketPlace.message '&&' seller}}
                                                <tr>
                                                    <td style="
                                                    display: flex;
                                                    margin: 0px 0px 0px 0px;
                                                    padding: 0px 0px 0px 0px;
                                                    border: 0;"
                                                    >
                                                        <span style="
                                                            font-family: 'roboto';
                                                            text-align: left;
                                                            font: normal normal 500 14px Roboto;
                                                            letter-spacing: 0px;
                                                            color: #000000;
                                                            opacity: 1;
                                                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
                                                            margin-top: 10px;"
                                                        >Message from Purchaser</span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="
                                                    display: flex;
                                                    margin: 0px 0px 0px 0px;
                                                    padding: 0px 0px 0px 0px;
                                                    border: 0;"
                                                    >
                                                        <span style="
                                                            font-family: 'roboto';
                                                            text-align: left;
                                                            font: normal normal normal 12px Roboto;
                                                            letter-spacing: 0px;
                                                            color: #000000;
                                                            width: 398px;
                                                            opacity: 1;
                                                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
                                                            margin-top: 10px;"
                                                        >{{marketPlace.message}}</span>
                                                    </td>
                                                </tr>
                                                {{/ifCond}}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="
    background-color: rgba(112, 112, 112, 0.05);"
    >

        <div style="
            border: 0;
            border-bottom: 1px solid rgba(112, 112, 112, 0.2);
            display: flex;
            display: -moz-box;
            display: -webkit-box;
            flex-direction: column;
            -moz-box-flex: 1;
            -webkit-box-flex: 1; 
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin: 0px 26px;
            padding: 16px 0 20px 0;
            font: inherit;
            vertical-align: baseline;
            -webkit-font-smoothing: revert;"
        >
        
            <table  cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <span style="
                                font-family: 'roboto';
                                text-align: left;
                                font: normal normal 500 14px Roboto;
                                letter-spacing: 0px;
                                color: #000000;
                                opacity: 1;
                                src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                            >All the best,</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="    display: flex;
                        margin: 0px 0px 0px 0px;
                        padding: 0px 0px 0px 0px;
                        border: 0;"
                        >
                            <span style="
                                visibility: hidden;
                                height: 8px;"
                            > </span>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <span style="
                                font-family: 'roboto';
                                text-align: left;
                                font: normal normal bold 14px Roboto;
                                letter-spacing: 0px;
                                color: #000000;
                                margin-top: 10px;
                                src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                            >Luize Sehn</span>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <span style="
                            font-family: 'roboto';
                            text-align: left;
                            font: normal normal normal 12px Roboto;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                            >OOTOPIA Ethical Marketplace Steward</span>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <span style="
                            font-family: 'roboto';
                            text-align: left;
                            font: normal normal normal 12px Roboto;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                            >luize@ootopia.org</span>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <span style="
                                font-family: 'roboto';
                                text-align: left;
                                font: normal normal normal 12px Roboto;
                                letter-spacing: 0px;
                                color: #000000;
                                opacity: 1;
                                src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);"
                            >+55 21 97261-3293</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="    display: flex;
                        margin: 0px 0px 0px 0px;
                        padding: 0px 0px 0px 0px;
                        border: 0;"
                        >
                            <span style="
                                visibility: hidden;
                                height: 16px;"
                            > </span>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <a style="
                                font-family: 'roboto';
                                text-align: left;
                                text-decoration: underline;
                                font: normal normal normal 12px/14px Roboto;
                                letter-spacing: 0px;
                                color: #003694;
                                margin-top: 18px;"
                                href="mailto: support@ootopia.org"
                                target="_blank"
                            >Do you have any questions?</a>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <span style="
                            font-family: 'roboto';
                            text-align: left;
                            font: normal normal normal 12px Roboto;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);">Get in contact! I'll be happy to help you.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="
        display: flex;
        display: -moz-box;
        display: -webkit-box;
        flex-direction: column;
        -moz-box-flex: 1;
        -webkit-box-flex: 1; 
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: revert;
        margin: 16px 26px;"
        >
            <table  cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <span style="
                            font-family: 'roboto';
                            text-align: left;
                            font: normal normal bold 14px Roboto;
                            letter-spacing: 0px;
                            color: #000000;
                            src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);" >COMING SOON</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="    display: flex;
                        margin: 0px 0px 0px 0px;
                        padding: 0px 0px 0px 0px;
                        border: 0;"
                        >
                            <span style="
                                visibility: hidden;
                                height: 8px;"
                            > </span>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <div>
                                <span style="
                                    font-family: 'roboto';
                                    text-align: left;
                                    font: normal normal normal 12px Roboto;
                                    letter-spacing: 0px;
                                    color: #000000;
                                    opacity: 1;
                                    src: local('roboto') url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
                                    white-space: pre-wrap;
                                    margin-top: 10px;"
                                >In the next application update, the creation of offers on the Ethical Marketplace will be available to everyone. Until then, how about telling us what you would like to offer or purchase? Your suggestions and questions are very welcome!</span>
                            </div>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <a style="font-family: 'roboto';
                            padding-left: 24px;
                            width: max-content;
                            text-decoration: none;
                            border: 1px solid #003694;
                            border-radius: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font: normal normal bold 12px Roboto;
                            letter-spacing: 0px;
                            color: #003694;
                            align-items: center;
                            opacity: 1;
                            margin: 16px 0 16px 0;
                            padding: 10px 24px 10px 24px;" href="https://docs.google.com/forms/d/e/1FAIpQLScGB6JQf4-YQn7aZQ5fmJTYxhM1W3qXuW87ycYrlayiesN92A/viewform" target="_blank">Give a suggestion</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div style="
        background-image: url(https://ootopia-files.s3.amazonaws.com/assets/email/market_place_footer_us.png);
        background-repeat: no-repeat;
        width: 558px;
        background-size: 100%;
        height: 222px;"
    >
    
        <table>
            <tbody>
                <tr>
                    <td>
                        <div style="
                            margin: 101px 114px 0px 148px;
                            padding: 0;
                            border: 0;"
                        >
                            <span style="
                                white-space: initial;
                                flex-wrap: inherit;
                                font-size: 12px;
                                color: #000000;"
                            >
                                The app that gives you access to experience in practice the new world that is emerging through the regenerative movement.
                            </span>
                            
                        </div>
                    </td>
                </tr>

                <tr>

                    <td style="
                        margin: 26px 0px 0px 0px;
                        padding: 23px 0px 0px 148px;
                        border: 0;"
                    >
                        <table>
                            <tbody>
                                <tr>
                                    <td style="
                                        padding: 0px 8px 0px 0px;
                                        border: 0;"
                                    >
                                        <a 
                                        style="cursor: pointer;" 
                                        href="https://www.ootopia.org/" 
                                        target="_blank">
                                            <img src="https://ootopia-files.s3.amazonaws.com/assets/email/ootopia_link.png"  width="131" height="21">
                                        </a>
                                    </td>

                                    <td style="
                                        padding: 0px 8px 0px 0px;
                                        border: 0;"
                                    >
                                        <a 
                                        style="cursor: pointer;" 
                                        href="mailto: support@ootopia.org"
                                        target="_blank">
                                            <img src="https://ootopia-files.s3.amazonaws.com/assets/email/ootopia_email.png"  width="164" height="21">
                                        </a>
                                    </td>
                
                                    <td style="
                                        padding: 0px 8px 0px 0px;
                                        border: 0;"
                                    >
                                        <a 
                                        style="cursor: pointer;" 
                                        href="https://www.facebook.com/ootopia.br"
                                        target="_blank"
                                        >
                                            <img src="https://ootopia-files.s3.amazonaws.com/assets/email/facebook_icon.png"  width="9" height="16">
                                        </a>
                                    </td>
                
                                    <td style="
                                        padding: 0px 8px 0px 0px;
                                        border: 0;"
                                    >
                                        <a 
                                        style="cursor: pointer;" 
                                        href="https://www.instagram.com/ootopia.br/"
                                        target="_blank"
                                        >
                                            <img src="https://ootopia-files.s3.amazonaws.com/assets/email/instagram_icon.png"  width="16" height="16">
                                        </a>
                                    </td>
                
                                    <td style="
                                        padding: 0px 8px 0px 0px;
                                        border: 0;"
                                    >
                                        <a 
                                        style="cursor: pointer;" 
                                        href="https://www.youtube.com/channel/UCZvZHNM2OK0Tdce2MFsNaPQ/featured"
                                        target="_blank"
                                        >
                                            <img src="https://ootopia-files.s3.amazonaws.com/assets/email/youtube_icon.png"  width="18" height="16">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>