<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Você solicitou a redefinição de sua senha.</p>
        <p>Clique no link abaixo para redefinir sua senha.</p>
        <a href="{{url_recover_password}}">Redefinir senha</a><br>

        <p><b>Obs:</b> Redefina sua senha a partir do dispositivo onde o aplicativo foi instalado.</p>
        <p>Ao clicar no link acima, você será redirecionado para o aplicativo da OOTOPIA.</p><br>

        <p><b>Tudo de bom,</b></p>
        <p><b>Equipe OOTOPIA</b></p>
    </body>
</html>